body{
  font-family: arial, sans-serif;
  font-size: 17px;
}

h1{
  text-align: center;
  font-size: 30px;
}

h2{
  background: #00aaff;
  font-size: 24px;
}

h1,h2,a{
  color: darkblue;
}

p{
  color: darkslategrey;
}

dt, dd {
  color: darkslategrey;
}

li{
  color: darkslategrey;
}

a:visited{
  color: darkslategrey;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.reds{
  display: flex;
  margin: 0 50%;
}

.reds_imgen{
  width: 30px;
  margin: 2px;
}

#copyright{
  margin: 0 0 0 110px;
  text-align: center;
  font-weight: bold;
}